* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
}

p, a, h1, h2, h3, li {
    color: #4e4e4e;
}

a {
    text-decoration: none;
}

.icon {
    margin: 0px 5px;
}

.flex {
    display: flex;
}

.center-align {
    display: flex;
    justify-content: center;
}

.center-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    border-bottom: solid 3px rgb(15 92 155);
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    z-index: 2;
}

.header .navigation {
    margin-left: 20px;
}

.header ol {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 0;
}

.header .logo {
    height: 50px;
    margin-top: 5px;
    margin-left: 30px;
}

.header .link   li {
    padding: 10px 50px;
    font-weight: bold;
    transition-duration: 400ms;
    border-bottom: solid 2px rgb(15 92 155);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.header .login {
    margin-right: 20px;
}

.header .register li{
    background: rgb(6, 127, 226);
    color: #f5f5f5;
}

.header .logout li{
    background: rgb(185, 0, 0);
    color: #f5f5f5;
}

.header .link li:hover {
    background-color: rgb(2, 75, 134);
    color: #f5f5f5;
}

.header .logout li:hover{
    background: rgb(126, 1, 1);
    color: #f5f5f5;
}

.home .hero-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home .img {
    background-image: url("/assets/banner.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50vw;
    height: 92vh;
}


.home .hero-content {
    margin-top: 30px;
    margin-right: 70px;
    width: 50vw;
}

.home .hero-content .logo-container img{
    width: 40vw;
    min-width: 240px;
}

.home .slogan {
    font-size: 35px;
}

.home .details {
    width: fit-content;
}

.login-container, .register-container {
    height: 94vh;
}

.login-container .form, .register-container .form {
    width: 50vw;
}

.login-container .form > div, .register-container .form > div {
    border: solid 2px rgb(15 92 155);
    padding: 40px;
    border-radius: 20px;
    margin: 0px 20px;
}

.login-container .title, .register-container .title {
    text-align: center;
}

.login-container .field, .register-container .field {
    margin: 10px 0px;
}

.login-container .banner {
    background-image: url("/assets/login-banner.jpg");
    height: 100%;
    width: 50vw;
    background-size: cover;
    background-position: center;
}

.register-container .banner {
    background-image: url("/assets/register-banner.jpg");
    height: 100%;
    width: 50vw;
    background-size: cover;
    background-position: center;
}

.food-listing .food {
    border: solid 2px rgb(109, 108, 108);
    margin: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.food-listing .img img {
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

.food-listing .contents {
    margin: 10px;
}

.food-listing .search {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.food-listing .search .has-control {
    width: calc(100% - 125px)
}

.food-listing .search .no-control {
    width: 100%
}

.food-listing .controls {
    padding: 10px;
}

.food-listing .controls .food-control {
    margin: 5px 0px;
}

.public-listing .items{
    width: 50vw;
}

.profile-container .profile {
    border: solid 2px rgb(15 92 155);
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    width: 50vw;
}

.profile-container {
    height: 90vh;
}

.profile-container .field {
    margin: 10px 0px;
}

.profile-container .controls {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.profile-container .control-item {
    margin: 0px 10px;
}

.my-listing>div {
    width: 60vw;
}
